<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="first" style="margin-left: 15px;">
                    <h4>O Que Você Encontrará Aqui:</h4>
                    <p> Simpatia </p>
                    <p> Cuidado e  Atenção</p>
                    <p> Ajuda para a sua pesquisa </p>
                    <p> Facilidade </p>
                    <p> Comunicação com os Funcionários </p>
                    <p> Ambiente Aconchegante </p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="second">
                    <h4> BookStore</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Meus Pedidos</a></li>
                        <li><a href="#">Cadastro</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="third">
                    <h4> Contato</h4>
                    <ul>
                        <li>BookStore Company </li>
                        <li></li>


                      <li><i class=""></i> Antônio JS Veras</li>
                        <li><i class=""></i> email: sousaverassap@gmail.com</li>


                      <li><i class=""></i> Fortaleza, CE - Brasil </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="line"></div>
                <div class="second2">
                    <!-- <a href="" target="_blank"> <i class=""></i></a>
                    <a href="" target="_blank"> <i class=""></i></a>
                    <a href="" target="_blank"> <i class=""></i></a>
                    <a href="" target="_blank"><i class="" ></i></a> -->

                </div>

            </div>
        </div>
    </div>

</div>


